* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
   max-width: 996px;
   margin: 0 auto;
}
header {
    padding: 30px;
    background-color: ivory;
    color: rgb(105, 28, 28);
}

.input-element {
    padding: 10px;
    margin-top: 30px;
}

ul {
    list-style-type: none;
}

.done {
    text-decoration: line-through;
}

.btn {
    text-align: center;
    padding: 6px 11px;
    border-radius: 20px;
    background-color: ivory;
    border: none;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.btn-add {
    color: rgb(105, 28, 28);
    border: 1px solid rgb(105, 28, 28);
    margin-left: 10px;
}

 .btn-done {
   color: lightcoral;
   border: 1px solid lightcoral;
   margin: 0 10px;
   width: 90px;
   text-align: center;
 }

 .btn-delete {
    color: red;
    border: 1px solid red;
 }

ul {
   margin-top: 30px;
}
li {
    border-bottom: 1px solid rgb(105, 28, 28);
    padding: 20px 0;
    color: rgb(105, 28, 28);
    font-size: 18px;
    
}
body {
    font-family: "Roboto", sans-serif;
}
button:hover {
    transform: scale(1.08);
}
button:active {
    transform: scale(0.92);
}